# Archivo de ejemplo para variables de entorno (no versionar en código fuente)
# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Genius (letras)
GENIUS_TOKEN=
